@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(52, 52, 52);
    width: 100%;
}

#disney-food-guide-logo {
    width: 50px;
    height: 55px;
    padding-left: 15px;
}

#main-nav {
    background-color: rgba(255, 255, 255, 0.837);
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-right: 15px;
}

#main-nav-list > li > a {
    text-decoration: none;
    color: rgb(52, 52, 52);
    font-weight: 500;
    transition: border-bottom 0.5s;
}

#main-nav-list > li > a:hover {
    border-bottom: 2px solid rgb(239, 190, 183);
}

h1 {
    font-size: 3rem;
}

#hero-titles > h1, #hero-titles > h2 {
    padding-left: 20px;
    font-weight: 300;
}

#hero-header {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.636)), url("../images/hero-header-template.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero-titles {
    background-color: rgba(243, 205, 100, 0.846);
    padding: 30px 20px 30px 0;
    border-radius: 10px;
    margin-left: 10px;
}

#scroll-box {
    background-color: rgba(243, 205, 100, 0.846);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    top: 41vh;
    right: 10px;
}

/* index.html welcome section */

#welcome {
    height: 65vh;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

#welcome-text {
    width: 45%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome-text > h2 {
    padding-bottom: 30px;
}

/* Mailing List Form */

#mailing-list {
    width: 45%;
    background-color: rgba(239, 190, 183, 0.562);
    border-radius: 40px;
    margin-top: 50px;
    height: 50vh;
}

.mailing-list-form {
    padding-top: 50px;
}

.mailing-list-form h2 {
    padding-bottom: 30px;
    text-align: center;
}

#mailing-form-elements {
    padding-left: 75px;
}

.text-input {
    width: 80%;
    border:rgb(52, 52, 52) 1px solid;
    border-radius: 10px;
    height: 25px;
    margin: 5px 0;
}

.submit-button {
    margin-top: 30px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(243, 205, 100);
    border:rgb(52, 52, 52) 1px solid;
    transition: background-color 0.5s;
}

.submit-button:hover {
    background-color: rgb(239, 182, 25);
    color: rgb(0, 0, 0)
}

input:focus::placeholder {
    color: transparent;
  }

  input::placeholder {
      color:rgb(143, 143, 143)
  }

  input {
     padding-left: 10px; 
  }

  /* Footer */

  .footer-list {
      background-color: rgb(243, 204, 100);
      width: auto;
      height: 15vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.fa-brands {
    color:rgb(52, 52, 52);
    font-size: xx-large;
    transition: color 0.5s;
}

.fa-facebook:hover {
    color: #1877f2;
}

.fa-instagram:hover {
    color: #c32aa3;
}

.fa-twitter-square:hover {
    color: #1da1f2;
}

.fa-youtube:hover {
    color: #ff0000;
}

/* Restaurants */

/* Re-usable Header */

.main-header-all-pages {
    background-image:  linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.636)), url("../images/hero-header-template-cropped.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-page-titles {
    background-color: rgba(239, 190, 183, 0.802);
    padding: 20px;
    border-radius: 10px;
}

.all-page-titles > h1 {
    font-weight: 300;
}

/* Re-usable Main Right Section */

.all-pages-main-right {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-photo > img {
    width: 600px;
}

.right-info {
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-info > h2 {
    text-align: center;
}

/* Restaurant Buttons */

.restaurant-info-buttons {
    display:flex;
    justify-content: space-around;
    width: 100%;
}

.restaurant-info-buttons > form > input {
    padding: 7px;
    border: rgb(52, 52, 52) 1px solid;
    border-radius: 5px;
    background-color: rgb(243, 204, 100);
    transition: background-color 0.5s, color 0.5s;
}

.restaurant-info-buttons > form > input:hover {
    cursor: pointer;
    background-color: rgb(231, 176, 26);
    color: white;
}

/* Restaurant Icons */

.fa-solid {
    color:rgb(239, 182, 25);
    font-size: x-large;
    vertical-align: middle;
}

.fa-location-dot {
    padding-right: 30px;
}

.fa-utensils {
    padding-right: 27px;
}

.fa-money-bill {
    padding-right: 21px;
}

.fa-circle-info {
    padding-right: 28px;
}

/* Indentation of info paragraph */

.right-info-paragraph {
    display: flex;
}

/* Re-usable Main Left Section */

.all-pages-main-left {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(239, 190, 183, 0.101);
}

.right-photo > img {
    width: 600px;
}

.left-info {
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left-info > h2 {
    text-align: center;
}

/* Snacks Image Resizing */

#carrot-cake-cookie > img {
    width: 550px;
}

#glimmer-and-shimmer-blondie > img {
    width: 550px;
}

#caseys-corn-dog-nuggets > img {
    width: 550px;
}

/* Drinks */

.fa-martini-glass {
    padding-right: 26px;
}

#tropical-serenade > img {
    width: 500px;
}

#the-orange-brrrd > img {
    width: 480px;
}

/* Contact */

#contact-main {
    height: 76vh;
}

#contact-form-column-1 {
    width: 50%;
}

#contact-form-column-2 {
    width: 50%;
}

.contact-form-columns {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.disney-experience-form > h2 {
    text-align: center;
    padding-bottom: 20px;
}

.disney-experience-form {
    height: 45vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 205, 100, 0.64);
    border-radius: 10px;
}

textarea {
    width: 90%;
    border:rgb(52, 52, 52) 1px solid;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

#contact-form-column-2 > input {
    margin: 5px 0;
}

#date {
    border: rgb(52, 52, 52) 1px solid;
    border-radius: 10px;
    height: 25px;
    margin: 5px 0;
}

input[type="date"] { 
    color:rgb(143, 143, 143);
  }

  #contact-form {
     background-image: linear-gradient(rgba(255, 255, 255, 0.252), rgba(255, 255, 255, 0.574)), url(../images/disney-hero-header.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 76vh;
  }

  .fa-heart {
    vertical-align: top;
  }