@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#disney-script-logo {
    width: 300px;
}

#disney-food-guide-logo {
    width: 50px;
    height: 55px;
}

#main-nav {
    background-color: rgba(255, 255, 255, 0.837);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

li a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(52, 52, 52);
    font-weight: 500;
}

li a:hover {
    border-bottom: 3px solid rgb(255, 166, 0);
    transition: border-bottom 0.2s, color 0.1s;
    color:rgb(255, 166, 0);
}

h1, h2, nav {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3rem;
}

h1, h2 {
    padding-left: 30px;
    color: rgb(52, 52, 52);
    font-weight: 300;
}

#hero-header {
    height: 80vh;
    display: flex;
    align-items: center;
}

#main-header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.636)), url("../images/hero-header-template.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero-titles {
    background-color: rgba(255, 166, 0, 0.501);
    padding: 30px 20px 30px 0;
    border-radius: 10px;
}